@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap");
html {
  font-size: 65%;
  font-size: 16px;
}

body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  color: #191923;
  background-color: #F7CE21;
}

h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 2rem;
  color: #1d1d1d;
  margin: 2rem 0;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
}

#shape-maker {
  display: none;
}

.shapes-3d .shape-container {
  width: 60%;
  margin: auto;
  padding: 1em;
}

.shapes-3d .shape-container img {
  margin: auto;
}

#button-wrapper {
  position: absolute;
  top: 10px;
  right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 5px;
  overflow: hidden;
  background-color: #fff;
  width: 10%;
  max-width: 50px;
  min-height: 100px;
  z-index: 1;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.12);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.12);
}

#button-wrapper .button-container {
  width: 100%;
  height: auto;
}

#button-wrapper .button-container button {
  cursor: pointer;
  outline: none;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: .5em;
  background-color: #fff;
}

#button-wrapper .button-container button:hover > img {
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
}

#button-wrapper .button-container #capture-button {
  border-bottom: 1px solid rgba(25, 25, 35, 0.2);
}

#button-wrapper .button-container img {
  outline: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 80%;
  -webkit-transition: .2s ease-out;
  transition: .2s ease-out;
}

main {
  position: relative;
  width: 100%;
}

#canvas {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 95%;
  height: 90%;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  background-color: #fff;
}

#output-modal {
  display: none;
  position: absolute;
  z-index: 5;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
}

#output-modal canvas {
  width: 60%;
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

* {
  scrollbar-width: thin;
}

*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: #bbbbbb;
}

.hide {
  display: none;
}

#rmenu {
  position: absolute;
  background: #fafafa;
  font-size: .8rem;
  font-weight: 500;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

#rmenu ul {
  list-style: none;
}

#rmenu ul li {
  margin: .5rem 0;
  padding: .5rem 1.5rem;
}

#rmenu ul li:last-child {
  border-top: 1px solid #ecdd01;
}

#rmenu ul li:hover {
  cursor: pointer;
  background: #3e51a7;
  color: #fff;
}

.picker {
  position: absolute;
  top: 20px;
  left: 20px;
  background: #292929;
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  color: #fff;
  z-index: 1;
  min-width: 120px;
  max-width: 200px;
  width: 20%;
  max-height: 400px;
  border-radius: 3px;
  border-bottom: 3px solid #F7CE21;
  -webkit-box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.16);
          box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.16);
  overflow-y: hidden;
}

.picker .picker-header {
  font-weight: 600;
  font-size: .9rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  padding: .5rem 1rem;
}

.picker .picker-header button {
  margin-left: auto;
  outline: none;
  border: none;
  background: none;
}

.picker .picker-header button img {
  width: 12px;
  cursor: pointer;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
}

.picker:hover {
  cursor: pointer;
}

.picker section {
  max-height: 0;
  overflow-y: scroll;
  -webkit-transition: max-height .4s ease-out;
  transition: max-height .4s ease-out;
  background: #fff;
}

.picker section .shapes-2d, .picker section .shapes-3d {
  margin: .5rem .5rem;
  overflow: hidden;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(60px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(60px, 1fr));
  row-gap: 10px;
}

.picker section .shapes-2d .shape-container, .picker section .shapes-3d .shape-container {
  position: relative;
  width: 75%;
  margin: auto;
  opacity: 1;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.picker section .shapes-2d .shape-container .tooltip-text, .picker section .shapes-3d .shape-container .tooltip-text {
  position: absolute;
  left: -10%;
  top: -12px;
  visibility: hidden;
  min-width: 100px;
  background-color: #292929;
  color: #FFF;
  text-align: center;
  padding: 5px;
  border-radius: 3px;
  z-index: 3;
  font-size: 1em;
}

.picker section .shapes-2d .shape-container img, .picker section .shapes-3d .shape-container img {
  margin: auto;
  width: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.picker section .shapes-2d .shape-container img:hover, .picker section .shapes-3d .shape-container img:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

@media (max-width: 768px) {
  html {
    font-size: 54%;
  }
  body {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 8fr 1fr;
        grid-template-rows: 8fr 1fr;
  }
  main {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: 1 / 1;
  }
  #capture-wrapper {
    display: none;
  }
}
/*# sourceMappingURL=main.css.map */